.contenedor{
    height: 50px;
    background-color:#f195b2;
    
    padding: 12px 0;
    font-size: 16px;
}

.margenn{
    margin-left: 100px;
}

.padin{
    padding: 10px;
}
.hola{
    margin-left: 40px;
    
}

.hola1{
    margin-left: 420px;
}

.contenedor-two{
    height: 100px;
    background-color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

.logo{
    font-size: 40px;
    color: #f195b2;
    font-weight: 100px;
}


.casa-two{
    margin-left: 21px;
    color: red
    font-size: 18px;
    font-weight: 50px;


}


.contenedor-three img{
    height: 100%;
    width: 100%;
}

.contenedor-four{

    width: 100%;
    padding: 90px 0;
    
}

.boton{
    background-color: #f195b2;
    padding: 0.7rem;
    border-radius: 5%;
    margin: 30px 0;
}

.contenedor-five{
    height: auto;
    width: 100%;
    background-color: aliceblue;
    padding: 100px 0;
}

.tarjetas{
    display: flex;
    justify-content: center;

    
}

.tarjeta{
    width: 260px;
    height: 320px;
    margin: 50px 15px;
    position: relative;
    background-color: #ffffff;
}

.tarjeta img{
    width: 100%; 
    height: 50%
    
}

.precio{
    
    position: absolute;
    top: 132px;
    left:30px;
    padding: 5px 30px;
    background-color: #ffffff;
    
}

.margen{
    margin-top: 30px;
}

.butonn{
    margin-top: 20px;
    margin-left: 19px;
    background-color: skyblue;
    border-radius: 5px;
    padding: 5px 13px;

}

.contenedor-six{
    width: 100%;
    height: 100vh;
    
    
}

.altura{
    height: 100vh;
}


.contenedor-slider{
    height: 100%;
    
}

.contenedor-seven{
    background-color: #f195b2;
    width: 100%;
    height: auto;
    color: #ffffff;
    padding-bottom: 100px;
}
    
.titulo-cont-seven{
    margin: 80px 0;
    

}
.contenedor-seven .parrafo{
    color: #ffffff;
    padding-top: 30px;
}

.contenedor-eight{
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    padding: 80px 0;
}

    
.fila1{
    margin-top: 50px;
}

.producto{
    border-bottom: 1px dotted;
}

.producto2{
    border-bottom: 1px dotted;
    margin-left: 50px;
}

i{
    color: blanchedalmond;
}

.colunna-3{
    background-color: #ffffff;
}

@media screen and (max-width:1200px){
    

    .hola{
        margin: 0;
    }

    .hola1{
        margin-left: 200px;
    }




}

@media screen and (max-width:992px){
    .hola1{
        margin: 0;

    }

}

@media screen and (max-width:768px){
    .contenedor{
        height: 90px;
        
    }

    .separador{
        margin-top: 15px;
    }
    .oculto{
        display: none;
    }
   .precio{
       position: absolute;
       margin-left: 0;
   }
}

@media screen and (max-width:576px){

    .contenedor{
        height: 90px;
        
    }
    .oculto1{
        display: none;
    }

    .precio{
        margin-left: 15px;
    }
}

@media screen and (max-width:393px){
    .contenedor{
        height: 120px;
    }
    .displaii1{
        display: block;
        margin-top: 10px;
        margin-right: 45px;
    }

    .precio{
        margin: auto;
    }


    

    



   
